.body {
	background-color: grey;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
}

.center {
	text-align: center;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 40fr 1fr;
	grid-gap: 0.3%;
	height: 97vh;
	text-align: center;
}

.top {
	background-color: #FE7308;
	grid-column: 1/3;
	padding: 0.2%;
}

.left {
	background-color: #FE7308;
	overflow: auto;
}

.right {
	background-color: #FE7308;
	overflow: auto;
}

.bottom {
	background-color: #FE7308;
	grid-column: 1/3;
	text-align: right;
	padding: 0.2%;
}

.sr-wrapper {
	display: grid;
	grid-gap: 1%;
	height: 100%;
	text-align: center;
}

.sr {
	background-color: #4D4D4D;
	padding: 0.2%;
}

